body {
    color: #5a5a5a;
    margin-top: 4rem;
  }

  .responsivo {
        height: auto;
    }

    .responsivo img{
        max-width: 100%;
        width: 100%;
        max-height: 37rem; 
        min-height: auto;   
        background-size:100%;
        background-repeat: no-repeat;
    }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 37rem;
    background-color: #777;
  }
  
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 37rem;
  }
  
  .featurette-divider {
    margin: 4rem; 
  }

  .secao {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
  }

  .aplicacao {
    width: 40%;
    margin: 5%;
    background-color: white;
    border-radius: 10px;
  }

  @media screen and (max-width: 700px) {
    .carousel-item > img{
        height: 20rem;
    }
    .carousel-item {
        height: 20rem;
    }

    .secao {
        width: 100%;
        margin: 0;
    }

    .aplicacao {
        width: 80%;
    }
   }
  
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
      
  }
